<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1868/1868669.svg">
    <title>Kitchenette</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/app.js"></script>
</head>
<body>

    <nav>
        <div class="applogo">
            <h1>Kitchenette</h1>
        </div>
        <div class="account__details">
            <div class="dropdown">
                <button onclick="dropdown()" class="dropbtn"></button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="signOut">Log Out</a>
                </div>
            </div>
        </div> 
    </nav>

    <div class="app__main">

        <div class="app__body">

            <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add a Recipe</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="addRecipe" method="POST">
                            <div class="form-group">
                              <label>Recipe Name</label>
                              <input type="text" class="form-control" id="modal_recipeName" placeholder="Enter a name for your recipe" name="modal_recipeName">
                            </div>
                            <div class="form-group">
                              <label>Tags</label>
                              <input type="text" class="form-control" id="modal_recipeTag" placeholder="ex. 2hrs,Spicy,Mexican,Protein" name="modal_recipeTag">
                            </div>
                            <div class="form-group">
                              <label>Ingredients</label><br>
                              <input type="text" class="form-control" id="modal_recipeIngredients" placeholder="ex. Salt,Pepper,Tomato,Chicken" name="modal_recipeIngredients">
                            </div>
                            <div class="form-group">
                              <label>Notes</label>
                              <textarea class="form-control" id="modal_recipeNotes" rows="10" placeholder="Add directions, notes and links!" name="modal_recipeNotes"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Add a photo</label>
                                <input type="text" class="form-control" id="modal_recipePhoto" placeholder="paste the url of image" name="modal_recipePhoto">
                            </div>
                            <div class="form-footer">
                                <br>
                                <button type="submit" class="btn my-1 modal_submit" value="addRecipe">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                
                </div>
            </div>
            

            <div class="recipes" id="recipes">
                <h1 class="offset" >Recipes</h1>
                <div class="recipes__cards">
                    <ul>
                        <li><a href="#myModal" data-toggle="modal" data-target="#myModal">
                            <div class="recipe__card grid__center">
                                <div>
                                    <h3>+</h3>
                                    <h5>Add Recipe</h5>
                                </div>
                            </div>
                        </a></li>
                        <% if (recipes.length > 0) { %> 
                            <% recipes.forEach(recipe => { %> 
                                <li>
                                    <div class="recipe__card">
                                        <div class="recipe__card__top">
                                            <a href="delete/<%= recipe._id %>"><img src="https://www.flaticon.com/svg/static/icons/svg/1828/1828843.svg" alt=""></a>
                                            <img src="<%= recipe.recipePhoto %> " alt="">
                                        </div>
                                        <a href="recipe/<%= recipe._id %> ">
                                        <div class="recipe__card__bottom">
                                            <div class="recipe__card__bottom__content">
                                                <h5><%= recipe.recipeName %> </h5>
                                                <div class="spans">
                                                    <span><%= recipe.recipeTag %></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a></li>
                            <% }) %> 
                        <% } %> 
                    </ul>
                </div>
            </div>

        </div>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/public/js/app.js"></script>
</body>
</html>